{% extends 'base.html' %}

{% block content %}
<div class="my-10 mx-auto max-w-screen-sm">
    <form method="POST">
        {% csrf_token %}
        <div class="relative z-0 mb-6 w-full group">
            <label class="block mb-2 text-lg font-normal text-gray-900 dark:text-gray-400">Are you sure you want to delete the appointment with {{appointment.doctor.full_name}} at {{appointment.date_time_of_appointment}}?</label>
        </div>
        
                
        <div class="grid md:grid-cols-2 md:gap-6">
            <button type="submit" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Yes, delete</button>
            <a href={% url 'appointment:view' %} class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">No</a>            
        </div>
    </form>
</div>

{% endblock content %}